@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #19223e; */
  background-image: url("https://cdn.discordapp.com/attachments/1008571023047798794/1056955126633472090/Piotr_Saaga_3t_christmas_white_light_8K_8e15fef8-427d-4855-8bb7-a4fdc863e129.png");
  /* background-image: url("https://cdn.discordapp.com/attachments/1008571023047798794/1056945215287595008/Piotr_Saaga_3t_christmas_white_light_8K_653b7d11-7d3c-4788-877b-9afe93911389.png"); */
  /* background-color: #9ad3de; */
  background-size: cover;
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: round;
  overflow: hidden;
  position: relative;
  /* background-image: url("/public/media/gif3.gif"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: appleFont;
  src: url(./components/SF-Pro.woff); 
}
*/
.artboard {
  background-image: url("https://wmstatic.global.ssl.fastly.net/ml/5050422-f-22266d45-0bc9-483e-8c4c-8ed585b901b7.png");
  background-size: cover;
  width: 19rem !important;
  height: 41rem !important;
  /* font-family: appleFont !important; */
}

.badge {
  letter-spacing: -0.6px;
}

.tooltip:before {
  background-color: rgb(29 78 216);
}

.tooltip:after {
  border-color: rgb(29 78 216) transparent transparent transparent;
}